.about {
  background-color: #333;
}
.info-box {
  padding: 30px;
  text-align: center;
}

@media (max-width: 767px) {
  .info-box {
    padding: 0;
  }
}

.info-box h2 {
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}
.info-box span {
  color: #7d1eff;
}
.info-box p {
  line-height: 1.8;
  font-size: 25px;
  color: #fff;
}
.gallery {
  width: 100%;
  padding: 30px;
  overflow: hidden;
}
.card {
  float: left;
  width: 30%;

  margin-right: 1.5%;
  background-color: #7d1eff;
  border: 1px solid #fff;
}
.card .image:hover {
  opacity: 0.5;
}

.card .image img {
  width: 100%;
}
