.contact {
  min-height: 600px;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-color: #333;
}

.contact .container {
  position: relative;
  z-index: 2;
}

.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: #7d1eff;
  margin: 60px 0 60px;
  text-align: center;
}

.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.contact form .left {
  float: left;
  width: 49%;
}

.contact form .right {
  float: right;
  width: 49%;
}

.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
  border-radius: 5px;
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid #7d1eff;
}

.contact form input {
  height: 40px;
}

.contact form textarea {
  height: 150px;
}

.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: #7d1eff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
